<div class="menu">
  <%= button_to 'イベント', group_events_path(@group), method: :get, class: 'menu-button' %>
  <%= button_to 'メッセージ', group_path(@group), method: :get, class: 'menu-button' %>
  <%= button_to 'グループメンバー', group_members_path(@group), method: :get, class: 'menu-button' %>
  <% if @group.group_users.find_by(user_id: current_user.id) %>
    <%= button_to 'グループを脱退', group_group_user_path(@group, current_user), method: :delete, data: { confirm: '本当に脱退しますか？' } %>
  <% end %>
</div>

<div class="chat-room">
  <div id="messages_<%= @group.id %>" class="messages">
    <% @group.messages.each do |message| %>
      <div class="message<%= ' message-self' if message.user == current_user %>">
        <strong><%= message.user.name %></strong>：<%= message.content %>
      </div>
    <% end %>
  </div>

  <%= form_with(model: [ @group, Message.new ], url: group_messages_path(@group), local: false, html: { class: "message-form" }) do |f| %>
    <%= f.text_area :content, class: "message-textarea", placeholder: 'メッセージを入力...' %>
    <%= f.submit '送信', class: "message-submit" %>
  <% end %>
</div>
