<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :content, "内容" %>
  <%= f.text_area :content %>
  
  <%= f.label :genre_ids, "ジャンルの選択" %>
  <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, include_hidden: false %>
  
  <%= f.label :tags, 'タグ（カンマ区切り）' %>
  <%= f.text_field :tags, value: "" %>

  <%= f.submit "投稿" %>
<% end %>