<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :content, "内容" %>
  <%= f.text_area :content %>
  
  <%= f.label :genre, "ジャンルの選択" %>
  <%= f.select :genre, ['ジャンル1', 'ジャンル2', 'ジャンル3'] %>

  <%= f.submit "投稿" %>
<% end %>