<!DOCTYPE html>

<header>
  <%= form_with url: "/search", method: :get, local: true do |f| %>
    <%= f.label :keyword, "キーワード検索" %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>

  <%= form_with url: tag_search_path, method: :get, local: true do |f| %>
    <%= f.label :tags, "タグ検索" %>
    <%= f.text_field :tags %>
    <%= f.submit "検索" %>
  <% end %>

<%= form_with(url: posts_path, method: :get, local: true) do |form| %>
  <%= form.label :genre_id, 'ジャンルで検索' %>
  <%= form.collection_select :genre_id, Genre.all, :id, :name %>
  <%= form.submit '検索' %>
<% end %>

<% if current_user && current_user.admin? %>
  <%= link_to 'ジャンル追加', admin_genres_path, class: 'btn btn-primary' %>
<% end %>

  <%= link_to "投稿する", new_post_path %>
  
  <a href="/posts">投稿一覧</a>
  
  <%= link_to 'グループ一覧', groups_path %>
  
  <% if user_signed_in? %>
    <%= link_to "プロフィール", user_path(current_user) %>
  <% end %>
  
  <!--<a href="/chat_rooms">DM</a> -->
  
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  
</header>

<html>
  <head>
    <title>OriginalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
